<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706361745092-ggnj8macp6elnqghemv11qnu9215q8v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706361745092-ggnj8macp6elnqghemv11qnu9215q8v6</string>
	<key>API_KEY</key>
	<string>AIzaSyCBZX1491VI52Vw_or8pAp5zSB37-0RQ8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>706361745092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.woo-pons</string>
	<key>PROJECT_ID</key>
	<string>woopons-c5e19</string>
	<key>STORAGE_BUCKET</key>
	<string>woopons-c5e19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706361745092:ios:1f22111c8c9e9de04cb391</string>
</dict>
</plist>